.nav-item {
  padding: 10px 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  /* color: #fff; */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1020;
}

.navbar-brand img{
  height: 60px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// @media (max-width: 1260px) {
//   .navbar-brand img{
//     height: 40px;
//   }
// }


@media (max-width: 1200px) {
  // .navbar-brand img{
  //   height: 30px;
  // }

  .navbar.navbar-expand-lg {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (max-width: 992px) {
  .navbar-brand img{
    height: 50px;
  }
}

@media (max-width: 400px) {
  .navbar-brand img{
    height: 40px;
  }
}