#our-tours {
  background-color: #f2f2f2; 
  padding-top: 120px;
  padding-bottom: 100px;
}

.tagpill-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  // margin-left: 12px;
  list-style: none;
  list-style-image: none;
  flex-wrap: wrap;
  font-size: 15px;
  align-items: center;
}

.tagpill-list {
  border: 1px solid #0f6d24;
  border-radius: 5px;
  background-color: white;
}

.tagpill-list.all {
  border: 1px solid #f93154;
  border-radius: 5px;
}

.tagpill-list.all span{
  color: #f93154;
}

.tagpill-list span{
  color: #0f6d24;
  cursor: pointer;
}

.read-more.text-danger {
  cursor: pointer;
}

#our-tours .fa-map-marker,
#our-tours .fa-calendar,
#our-tours .fa-users {
  color: #f80c35; 
  font-size: 20px;
}

#our-tours input.w-100 {
  border: none;
  outline: none;
}

#our-tours  .mobile-filter {
    margin: 7px 0px;
    height: 3.25rem;
    // padding: 0 30px !important;
  }

  #our-tours .where_to_dropdown,
  #our-tours .traveler-dropdown {
    position: relative;
    z-index: 222;
    width: 100% !important;
  }
  
#our-tours button.btn-danger > span {
  font-size: 18px;
}